@keyframes errorAnimation {
  20% {
    opacity: 0.75;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.25;
  }
  80% {
    opacity: 0;
  }
  100% {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@-webkit-keyframes errorAnimation {
  20% {
    opacity: 0.75;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.25;
  }
  80% {
    opacity: 0;
  }
  100% {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

a#plink,
a#blink {
  display: block;
  color: inherit;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  outline-color: aqua;
}
div.cdiv {
  min-width: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.ddiv {
  border: 2px solid rgb(64, 64, 64);
  background-color: white;
  padding: 8px;
  overflow: auto;
  margin-bottom: 8px;
  border-radius: 8px;
}
div.fdiv {
  width: 100%;
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
div.error-msgs {
  display: grid;
  justify-items: center;
  row-gap: 4px;
  padding: 4px 16px;
  transition: all 1s ease-in-out;
}
div.ff {
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}
div.ff-header {
  font-weight: bold;
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
}
div.f-person {
  text-align: center;
  flex: 30;
  margin-right: 2px;
}
div.f-amount {
  text-align: center;
  flex-grow: 50;
  margin-left: 2px;
  margin-right: 2px;
}
div.f-delete {
  text-align: center;
  flex: 20;
  margin-left: 2px;
}
div#group {
  text-align: center;
}
div.title {
  font-size: 12px;
  font-weight: bold;
  align-content: center;
  text-align: center;
  display: flex;
  gap: 4px;
  box-sizing: border-box;
}
div.title-left {
    flex: 30;
    min-width: fit-content;
}
div.title-center {
    flex-grow: 40;
}
div.title-right {
    flex: 30;
    min-width: fit-content;
}
div#persons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  gap: 2px;
  margin: 0 auto;
}

div#bill-title {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
div#bill-header {
  display: flex;
  width: 100%;
  padding: 4px;
  font-weight: bold;
  box-sizing: border-box;
}
div#bills {
  width: 80%;
  height: 100%;
  float: left;
  border: 2px solid gray;
  padding: 8px;
  box-sizing: border-box;
}
div#bill {
  width: 100%;
  display: flex;
  border: 2px solid rgb(64, 64, 64);
  border-radius: 8px;
  background: rgb(64, 64, 64);
  color: white;
  padding: 4px 8px;
  box-sizing: border-box;
  margin-bottom: 4px;
  outline: none;
}
div#bill:hover {
  background-color: white;
  color: rgb(64, 64, 64);
  transition: all 0.5s ease-out;
}
div#bill:focus,
div#bill:focus-visible,
div#bill:focus-within {
  border-color: aqua;
  outline: aqua;
  transition: all 0.5s ease-out;
}
div#bill-desc {
  width: 50%;
  padding: 0px;
  text-align: left;
}
div#bill-payee {
  width: 30%;
  text-align: center;
}
div#bill-amount {
  width: 20%;
  text-align: right;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border-radius: 8px;
  border: 2px solid rgb(64, 64, 64);
  padding: 4px 8px;
  background-color: white;
  color: rgb(64, 64, 64);
  transition: all 0.5s ease-in-out;
}
input:focus,
input:focus-visible,
input:focus-within {
  border-color: aqua;
  outline: aqua;
  transition: all 0.5s ease-in-out;
}

input.label-text-form,
input.label-text-form:hover {
  padding: 2px 4px;
  text-align: center;
  background-color: white;
  color: rgb(64, 64, 64);
}
input.label-text-form:read-only,
input.label-text-form:read-only:hover {
  border: 2px solid white;
  background-color: white;
  color: rgb(64, 64, 64);
  font-weight: bold;
  outline: none;
  cursor: default;
}
input.desc-form {
  width: 100%;
}
input.number-form {
  width: 76px;
  text-align: end;
}
input.number-form::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input#add-new-item {
  width: 100%;
  padding: 4px 8px;
}
input#name-input-form {
  width: 30px;
  border: 2px solid rgb(64, 64, 64);
  background-color: white;
  color: rgb(64, 64, 64);
  padding: 4px 8px;
  border-radius: 8px;
  text-align: center;
  outline: none;
  transition: all 0.5s ease-in-out;
}
input#name-input-form:hover {
  width: 80px;
}
input#name-input-form:focus {
  border-color: aqua;
  transition: all 0.5s ease-in-out;
  width: 80px;
}
input#add-new-bill {
  width: 100%;
  padding: 4px 8px;
}
input[type="submit"] {
  width: 100%;
  font-size: 9px;
}
input[type="submit"]:hover {
  background-color: rgb(64, 64, 64);
  color: white;
  transition: all 0.5s ease-in-out;
}
input[type="submit"]:focus {
  border-color: aqua;
  outline: none;
}
input[type="submit"]#person {
  font-size: inherit;
  border: 2px solid rgb(64, 64, 64);
  background-color: rgb(64, 64, 64);
  color: white;
  padding: 4px 8px;
  border-radius: 8px;
  text-align: center;
}
input[type="submit"]#person:hover {
  border: 2px solid rgb(64, 64, 64);
  background-color: white;
  color: rgb(64, 64, 64);
  transition: all 0.5s ease-in-out;
}
input[type="submit"]#person:focus {
  border-color: aqua;
}
input[type="submit"]#invoice {

}

input#clear-btn {
  width: fit-content;
  float: right;
  font-size: 9px;
  padding: 2px 4px;
}

select.person-select {
  font-size: 10px;
  padding: 2px;
  border: 2px solid rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  border-radius: 8px;
  text-align: center;
}

select.person-select:focus,
select.person-select:focus-visible,
select.person-select:focus-within {
  border-color: aqua;
  outline: aqua;
  transition: all 0.5s ease-in-out;
}

span.error {
  color: red;
  font-size: 9px;
  -moz-animation: errorAnimation 1s linear 2s forwards;
  /* Firefox */
  -webkit-animation: errorAnimation 1s linear 2s forwards;
  /* Safari and Chrome */
  -o-animation: errorAnimation 1s linear 2s forwards;
  /* Opera */
  animation: errorAnimation 1s linear 2s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

html {
  color: rgb(64, 64, 64);
  font-size: 10px;
}
body {
  font-family: Helvetica;
  background-color: rgb(64, 64, 64);
}
button {
  width: 100%;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
form {
  margin-bottom: 0px;
}
fieldset {
  border-radius: 8px;
}
