{% load static %}
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" />

    <link rel="stylesheet" href="{% static 'gbill/css/style.css' %}" />

    <title>{{ bill }} | gBill</title>
  </head>

  <body>
    <div class="cdiv">
      <form method="post">
        {% csrf_token %}
        <div class="ddiv">
          <div class="title">
            <div style="flex: 20">
              <input type="submit" name="back" value="Back" />
            </div>
            <div style="flex: 40">
              {{ form.desc }}
            </div>
            <div style="flex: 20">
              <input type="submit" name="save" value="Save" />
            </div>
            <div style="flex: 20">
              <input type="submit" name="delete" value="Delete" />
            </div>
          </div>
        </div>
        <div class="ddiv">
          <div style="margin-bottom: 8px; overflow: auto">
            <fieldset style="float: left">
              <legend>Payee</legend>
              {{ form.payee }}
            </fieldset>
            <fieldset style="float: right">
              <legend>Amount</legend>
              {{ form.amount }}
            </fieldset>
          </div>
          <div class="inline">
            <div id="auto-calc-container">
              <button type="button" id="auto-calc" onClick="autoCalc()">Auto Calc</button>
            </div>
          </div>
          <fieldset>
            <legend>Items</legend>
            <div>
              <div class="ff-header">
                <div class="f-person"> Person </div>
                <div class="f-amount"> Amount </div>
                <div class="f-delete"> Delete </div>
              </div>
              <hr>
              {{ existingFormset.management_form }}
              {% for f in existingFormset.forms %}
              <div class="ff">
                <div class="f-id">{{ f.id }}</div>
                <div class="f-person">{{ f.person }}</div>
                <div class="f-amount">{{ f.amount }}</div>
                <div class="f-delete">{{ f.DELETE }}</div>
              </div>
              {% endfor %}
              {{ formset.management_form }}
              {% for f in formset.forms %}
              <div class="ff">
                <div class="f-id">{{ f.id }}</div>
                <div class="f-person">{{ f.person.label }} {{ f.person }}</div>
                <div class="f-amount">{{ f.amount.label }} {{ f.amount }}</div>
                <div class="f-delete">{{ f.DELETE }}</div>
              </div>
              {% endfor %}
            </div>
            <hr>
            <input
              type="submit"
              name="add_new_item"
              value="Add New Item"
              id="add-new-item"
            />
          </fieldset>
        </div>
      </form>
    </div>
    <script src="{% static 'gbill/js/script.js' %}"></script>
  </body>
</html>
